.top {
  width: 100%;
  height: 50px;
  font-family: arial;
  color: white;
  text-align: center;
  background-color: black;
  
}
.view {
  color: white;
  text-decoration: none;
  font-size: 40px;
  font-family: serif;
}
#pjs {
  position: center;
}
body {
    background-color: black;
    margin:0px;
}

canvas {
        padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}